.body
  .category.grid_4
    %a{:href => "/tickets"} Tickets
    %img{:src => "/images/tickets.png"}/
    .subcategories
      %a{:href => "#"}> Basketball
      ,
      = succeed "," do
        %a{:href => "#"} Hockey
      = succeed "," do
        %a{:href => "#"} Football
      = succeed "," do
        %a{:href => "#"} Concerts
      = succeed "," do
        %a{:href => "#"} Performances
      %a{:href => "#"} Movies
      %a{:href => "#"} …
  .category.grid_4
    %a{:href => "#"} Textbooks
    %img{:src => "/images/textbooks.png"}/
    .subcategories
      %a{:href => "#"}> Math
      ,
      = succeed "," do
        %a{:href => "#"} Physics
      = succeed "," do
        %a{:href => "#"} English
      = succeed "," do
        %a{:href => "#"} Engineering
      = succeed "," do
        %a{:href => "#"} History
      = succeed "," do
        %a{:href => "#"} Latin
      = succeed "," do
        %a{:href => "#"} Economics
      %a{:href => "#"} Spanish
      %a{:href => "#"} …
  .category.grid_4
    %a{:href => "#"} Real Estate
    %img{:src => "/images/realestate.png"}/
    .subcategories
      %a{:href => "#"}> Houses
      ,
      = succeed "," do
        %a{:href => "#"} Apartments
      = succeed "," do
        %a{:href => "#"} Dorm Swap
      = succeed "," do
        %a{:href => "#"} Parking
      = succeed "," do
        %a{:href => "#"} Storage
      %a{:href => "#"} Office Space
      %a{:href => "#"} …
  .category.grid_4
    %a{:href => "#"} Services
    %img{:src => "/images/services.png"}/
    .subcategories
      %a{:href => "#"}> Legal
      ,
      = succeed "," do
        %a{:href => "#"} Household
      = succeed "," do
        %a{:href => "#"} Computer
      = succeed "," do
        %a{:href => "#"} Beauty
      = succeed "," do
        %a{:href => "#"} Pets
      %a{:href => "#"} Tutoring
      %a{:href => "#"} …
  .category.grid_4
    %a{:href => "#"} Electronics
    %img{:src => "/images/electronics.png"}/
    .subcategories
      %a{:href => "#"}> Televisions
      ,
      = succeed "," do
        %a{:href => "#"} Desktops
      = succeed "," do
        %a{:href => "#"} Laptops
      = succeed "," do
        %a{:href => "#"} Cell Phones
      = succeed "," do
        %a{:href => "#"} Cameras
      = succeed "," do
        %a{:href => "#"} Video Games
      %a{:href => "#"} Appliances
      %a{:href => "#"} …
  .category.grid_4
    %a{:href => "#"} Transportation
    %img{:src => "/images/transportation.png"}/
    .subcategories
      %a{:href => "#"}> Cars
      ,
      = succeed "," do
        %a{:href => "#"} Bikes
      = succeed "," do
        %a{:href => "#"} Public Transport
      = succeed "," do
        %a{:href => "#"} Ride Sharing
      = succeed "," do
        %a{:href => "#"} Skating Equipment
      %a{:href => ""} …
  .category.grid_4
    %a{:href => "#"} Events
    %img{:src => "/images/events.png"}/
    .subcategories
      %a{:href => "#"}> Parties
      ,
      = succeed "," do
        %a{:href => "#"} Fundraisers
      = succeed "," do
        %a{:href => "#"} Competitions
      = succeed "," do
        %a{:href => "#"} Talks
      = succeed "," do
        %a{:href => "#"} Get Togethers
      = succeed "," do
        %a{:href => "#"} Info Sessions
      %a{:href => ""} …
  .category.grid_4
    %a{:href => "#"} Jobs
    %img{:src => "/images/jobs.png"}/
    .subcategories
      %a{:href => "#"}> Full Time
      ,
      = succeed "," do
        %a{:href => "#"} Part Time
      = succeed "," do
        %a{:href => "#"} Research
      = succeed "," do
        %a{:href => "#"} Internships
      %a{:href => "#"} Educational
      %a{:href => ""} …
  .category.grid_4
    %a{:href => "#"} Deals & Coupons
    %img{:src => "/images/coupon.png"}/
    .subcategories
      %a{:href => "#"}> Restaurants
      ,
      = succeed "," do
        %a{:href => "#"} Haircuts and Salons
      = succeed "," do
        %a{:href => "#"} Clothing Stores
      %a{:href => "#"} Electronics
      %a{:href => ""} …
  .category.grid_4.bottom
    %a{:href => "#"} Other Stuff
    %img{:src => "/images/groceries.png"}/
    .subcategories
      %a{:href => "#"}> Appliances
      ,
      = succeed "," do
        %a{:href => "#"} Foods & Beverages
      = succeed "," do
        %a{:href => "#"} Furniture
      = succeed "," do
        %a{:href => "#"} Musical Instruments
      %a{:href => "#"} Jewelery
      %a{:href => ""} …
.clear
.footer.container_12
  %a{:href => "#"} About
  %a{:href => "#"} FAQ
  %a{:href => "#"} Terms of Use
  %a{:href => "#"} Contact